<!DOCTYPE html>
<html lang="en">
    <head>


        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="/static/style2.css">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <title>Movie recommendation system</title>
        <!-- <script src="https://cdn.tailwindcss.com"></script> -->
        

        </head>

<body>
    <div class="box">
        <div style="display: flex;background-color: #4d687f66;height: 65px;">
          <h2 style="padding-top: 7px; padding-left: 20px; width: 50%; text-shadow: grey 4px -4px 8px;color: white;"><b>Movie <span style="color:orangered ;">Recommendation</span> System..</b></h2>
      <nav>
      <ul style="text-shadow: 2px 2px 5px #43464a">
      <li><a href="/"><b>HOME</b></a></li>
      <li><a href="/contact"><b>CONTACT</b></a></li>
      <li><a href="/services"><b>SERVICES</b></a></li>
      <li><a href="/about"><b>ABOUT</b></a></li>
      </ul>
      </nav>
      </div>
      </div>
    
      
      <div class="box9">
          <div class="container text-center">
              <h1 style="color: darkgray;text-align: center;text-shadow: grey 4px -4px 8px; width: 100%;"><b><u>MOVIE DETAILS</u> </b></h1><br><br>
              <div class="row">
            <div class="col ">
                
                    <img src="{{ poster_path }}" alt="Movie Poster" height="450px" width="620px">
                
              </div>
              <div class="col">
                    <div>
                        <h2 style="color: #00bcd4;"><u><i>Title:</i></u></h2>
                        <p>{{ title }}</p>
                    </div> <br>
                
                    <div style="display: inline;">
                        <h2 style="color: #00bcd4";><u><i>Overview:</i></u></h2>
                        <p>{{ overview }}</p>
                    </div> <br>
                
                    <div>
                        <h2 style="color: #00bcd4";><u><i> Release Date:</i></u></h2>
                        <p>{{ release_date }}</p>
                    </div> <br>
                
                    <div>
                        <h2 style="color: #00bcd4";><i>Genres:</i></h2>
                        <p>{{ genres }}</p>
                    </div> <br>
              </div>
            </div>
              </div>
            
          </div>
    <br><br><br>
    
    <div class="container">

        <div>
            <h2 style="color: #70531b;"><b><i> Cast:</i></b></h2>
            <div class="castcrew-container">
                <div class="row">
                    {% for actor in cast %}
                        <div class="col">
                            <img src="{{ actor.image_url }}" alt="{{ actor.name }} Image" height="200px" width="200px">
                            <p style=" color:#9db5b4; font-size: 3vh; background-color: rgba(0, 0, 0, 0.5);">{{ actor.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div> <br> <br><br>



        <div>
            <h2 style="color:#70531b;"><b><i>Crew:</i></b></h2>
            <div class="castcrew-container">
                <div class="row">
                    {% for member in crew %}
                        <div class="col">
                            <img src="{{ member.image_url }}" alt="{{ member.name }} Image" height="200px" width="200px">
                            <p style="color:#9db5b4; font-size: 3vh; background-color: rgba(0, 0, 0, 0.5);">{{ member.name }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        
        
    </div>
    <br><br><br>
    
    
    

    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>
