<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<style>
    *{
            margin: 0;
            padding: 0;
        }
        body{
            background-color:#d7d9da;
        }
        header{
            height: 70px;
            background-color:beige;
        }
</style>
<body>
    <header>
        <h1 style="color: black;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;padding: 20px 23px;text-shadow: black 2px -2px 14px;"><b>Movie <span style="color: orangered;">Recommendation</span> system..</b>
        </h1>
        </header>
        <br>
        <h1 style="padding-left: 600px;color: #381503;;"><b><u>Services</u></b></h1>
        <br><br>
        <h2 style="padding-left: 50px;"><b>In this <span style="color: #0e4b4b;"> Movie Recommendation System</span>, We provide you the best similar movies based on your input.In addition,we provide you the <span style="color:#bf7a0d;">Overview</span> of the movie,<span style="color:#bf7a0d;">Release date</span>,<span style="color: #bf7a0d;"> Genre</span> along with the <span style="color: #bf7a0d;">cast</span> and <span style="color: #bf7a0d;">crew</span> members of the very Movie. 
        <br>If you like any movie and is intrested to watch similar movie then our website will recommend you those movies whose content are almost similar.
        we also provide you the details of each cast and crew members who are involved in the movie along with their pictures and name.</b></h2>
        &ensp;
        &ensp;<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
        <footer style="background-color: black;height: 100px;color: #d7d9da;">
            <h2 style="padding-left:600px;padding-top: 30px;"><b>copyright &copy;All Rights Reserved<br>
            </b></h2>
</body>
</html>